<nav class="navbar navbar-fixed-top navbar-dark navbar-expand-sm bg-primary">
    <a class="navbar-brand">Linguistics Dictionary</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="weather">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="movie">About Us</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="currency">Contact</a></li>
      <li class="nav-item"><a routerLink="post" class="nav-link">Search</a></li>
    </ul>
  </nav>